* { box-sizing: border-box; }

body {
    margin: 0;
    font-size: sans-serif;
}

.container {
    background-color: #23424A;
    color: #fff;

    width: 80%;
    margin: 0 auto;

    padding: 5em;  /*   16px * 5 = 80px  */ 
}

